[submodule "webshot"]
	path = webshot
	url = ssh://git@github.com:onlyblank/webshot.git
[submodule "frontend"]
	path = frontend
	url = ssh://git@github.com:onlyblank/frontend.git
[submodule "telegram"]
	path = telegram
	url = ssh://git@github.com:onlyblank/telegram.git
[submodule "cms"]
	path = cms
	url = ssh://git@github.com:onlyblank/cms.git
[submodule "vk"]
	path = vk
	url = ssh://git@github.com:onlyblank/vk.git
