[submodule "webshot"]
	path = webshot
	url = ../webshot.git
[submodule "frontend"]
	path = frontend
	url = ../frontend.git
[submodule "telegram"]
	path = telegram
	url = ../telegram.git
[submodule "cms"]
	path = cms
	url = ../cms.git
[submodule "vk"]
	path = vk
	url = ../vk.git
